<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        <!-- [%d{HH:mm:ss.SSS zzz}] %-5level [%t] %logger.%method\(\) - %msg%n -->
        <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="logging.level.org.hibernate" level="INFO"/>
    <logger name="org.apache.directory.server" level="WARN" />
    <logger name="org.springframework" level="WARN" />
    <logger name="org.springframework.web" level="WARN" />
    <logger name="org.springframework.boot.actuate" level="INFO" />
    <logger name="org.thymeleaf" level="INFO" />
    <logger name="org.thymeleaf.TemplateEngine" level="WARN" />
    <logger name="org.thymeleaf.templateresolver.AbstractTemplateResolver" level="WARN" />

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
